<div class="container mt-5">
    <hr>
    <h2 class="text-center">User List</h2>
    <div>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User Color</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{1}}</td>
                    <td>
                        <select>
                        </select>
                    </td>
                    <td><button class="btn btn-primary">+</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>