<div class="container mt-5">
    <hr>
    <h2 class="text-center">User List</h2>
    <div>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User Color</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList">
                    <td>{{user.UserId}}</td>
                    <td>
                        <select>
                            <option *ngFor="let colorOption of user.colors" [value]="colorOption.ColorId" 
                            [ngStyle]="{backgroundColor:colorOption.ColorName}">{{colorOption.ColorName}}</option>   
                        </select>
                    </td>
                    <td><button class="btn btn-primary" (click)="OpenColorPicker(user)">+</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>