.login-form
{
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    margin: 100px auto;
    display: block;
    width: 500px;
}
.disableClick{
    pointer-events: none;
    }