div {
    width: 100%;
    height: 50%;
  }
.button {
    display: block;
    width: 115px;
    height: 50px;
    background: #0b5162;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration:none
}
strong{
  color: #0b5162;
}